<ol class="breadcrumb">
  <li><a href="{{url}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
</ol>

<div class="row">
  <div class="col-lg-4 col-xs-8">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>0</h3>
        <p>Facturas generadas hoy</p>
      </div>
      <div class="icon">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      </div>
      <a href="{{url}}facturas" class="small-box-footer">
        Nueva Factura <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</div>