// Include Bootstrap
@import bootstrap;

// Inculde Font Awesome
@import "font-awesome-stylus";

// Include theme
@import './theme/AdminLTE.min.css';

// Include skin
@import './skin/skin-blue.min.css';

// Include Fonts 
@import './animate/animate.min.css';

// Include sweet alert
@import './sweetAlert/sweetalert.min.css';